{% extends 'base.html' %}

{% block title %}Chat{% endblock %}

{% block content %}
<h3>Here are all your chats</h3>
<ul>
    {% for chat in chats %}
      <li>{{ chat.id }} - {{ chat.document.course.name }}</li>
    {% empty %}
      <li>No chat found.</li>
    {% endfor %}
</ul>
<hr>


<form method="post" action="{% url 'create_chat' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <button type="submit">Start New Chat</button>
    </div>
</form>

{% endblock %}